@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
:root {
  --color-green: #015e63;
  --color-green-light: #0db6be;

  --color-to-test: #f7d5d5;

  --color-orange: #f3bb01;
  --color-grey: #cecac1;
}
body {
  font-family: "DM Sans", sans-serif;
}

option {
  color: black;
}

.btn {
  padding: .5rem 1rem;
  border-radius: 0px;
  font-size: .9rem;
  display: inline-block;
}

.btn-green {
  background: linear-gradient(to right, #000 50%, #015e63 50%);
  background-size: 200%;
  background-position: right;
  color: #fff;
  transition: .3s;
}
.btn-green:hover {
  background-position: left;
}

.btn-ghost {
  background: transparent;
  transition: .3s;
}
.btn-ghost:hover {
  background: #eeeeee48;
}

.btn-alt {
  background: #000;
  color: #fff;
  transition: .3s;
}
.btn-alt:hover {
  background: var(--color-green);
}

.btn-text {
  background: transparent;
  color: var(--color-green);
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
  padding-left: 0 !important;
}

.ml-2 {
  margin-left: 10px;
}
.mr-2 {
  margin-right: 10px;
}
.mb-4 {
  margin-bottom: 20px;
}
.mb-2 {
  margin-bottom: 10px;
}
.mt-2 {
  margin-top: 10px;
}
.text-center {
  text-align: center !important;
}
.w-100 {
  width: 100%;
}